.lampsection {
  background-color: #171717;
  height: 60vh;
  display: flex;
}

.lampsectiontxtcontainer {
  color: white;
  align-self: center;
  /* text-align: center; */
  margin: 0 auto;
  padding-left: 2%;
}

.lampimg2 {
  margin-left: auto;
  margin-right: 4%;
}

.lamptitle {
  padding-bottom: 4px;
}

.lampp {
  padding-bottom: 16px;
}

.lampbtn {
  padding: 10px 20px;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  font-weight: 400;
  font-size: 1.1vw;
  cursor: pointer;
}
