.cart {
  display: flex;
  position: absolute;
  background-color: #171717;
  height: 20vh;
  width: 40%;
  transform: translateX(150%) translateY(75%);
  border-top: solid 3px #ffc000;
}

.cartitemtitle {
  padding: 20px;
  color: white;
}

.cartitems {
  white-space: nowrap;
  position: absolute;
  background-color: #171717;
  width: 100%;
}

.cartitem {
  color: white;
}

.cartitemimage {
  width: 20%;
}

.headercartitem {
  padding: 10px 30px;
  display: flex;
}

.headercartitem:last-child {
  padding-bottom: 30px;
}
.headercartitem h1 {
  color: rgb(255, 255, 255);
  align-self: center;
  margin-left: 12px;
  font-size: 1.1vw;
}

.headercartitem h1:nth-child(2)::before {
  content: "$";
  color: white;
}
.headercartitem h1:nth-child(2) {
  color: white;
}

.itemwrap {
  align-self: center;
}
