.about {
  height: 70vh;
  background-color: #171717;
  display: flex;
}

.abouttxtcontainer {
  color: white;
  margin: auto;
  margin-right: 0;
  justify-content: center;
}

.aboutimgcontainer {
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.aboutbtn {
  padding: 10px 20px;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  font-weight: 400;
  font-size: 1.1vw;
  cursor: pointer;
}

.aboutimg {
  max-width: 100%;
}

.abouttitle1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.525);
  font-weight: bold;
  font-size: 3vw;
  padding-bottom: 8px;
}

.aboutp {
  padding: 16px 0;
  color: rgba(255, 255, 255, 0.658);
  font-size: 1.2vw;
}
