.about {
  height: 40vh;
  background-color: #171717;
}

.abouttxtcontainer {
  color: white;
}

.aboutbtn {
  padding: 10px 20px;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  font-weight: 400;
}
