.adsbar {
  height: 35vh;
  background-color: #111;
}

.adsbarli:last-child {
  border-right: none;
}

.adsbarli {
  /* padding: 50px; */
  border-right: solid 1px rgba(255, 255, 255, 0.315);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  width: 35%;
}

.adsbarul {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 4%;
  justify-content: center;
}

.icon {
  filter: invert(1);
  max-width: 20%;
  align-self: center;
  margin-bottom: 8%;
  filter: color;
}

.icondesc {
  margin-top: 2%;
  color: rgba(255, 255, 255, 0.59);
  font-size: 1.1vw;
}
