.failedpopupcontainer {
  position: absolute;
  margin: 0 auto;
  width: 30%;
  height: 30%;
  display: flex;
  backdrop-filter: blur(5px);
  text-align: center;
  color: white;
  flex-direction: column;
  opacity: 0;
}

.failed {
  opacity: 1;
}

.btn {
  font-size: 1.3rem;
  color: white;
  background-color: none;
  margin-top: 8px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.681);
  border-radius: 5px;
  padding: 4px;
  transition: all 0.5s ease-in-out;
}
