.btn {
  padding: 10px 20px;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  font-weight: 400;
  font-size: 1.1vw;
  cursor: pointer;
}

.removecartbtn {
  background-color: #ffc000;
  margin-left: 8px;
  font-size: 0.8vw;
  height: 30%;
  align-self: center;
}
