html {
  overflow-x: hidden;
}
/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 12px; /* For vertical scrollbars */
  height: 12px; /* For horizontal scrollbars */
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #171717;
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #505050;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #767676;
}

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}
body {
  background-color: #eaeaea;
}
